<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/global.css" />
        <link rel="stylesheet" href="/libs/highlight/styles/atom-one-dark.min.css">
        <script src="/libs/highlight/highlight.min.js"></script>
        <script defer src="/js/basic.js"></script>
        <title>Program.NET | clases</title>
    </head>
    <body>
        <button type="button" onclick="history.back()" class="back">Volver</button>
    <header>
        <h1>Funciones en C#</h1>
<span class='description'>Si queremos repetir tareas en nuestro código, necesitamos funciones</span><br/><span>6/10/2022</span><br/>
    </header>
        <main>
                
        </main>
    </body>
</html>