<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css" />
    <script defer src="/js/basic.js"></script>
    <title>Program.NET | Home</title>
</head>

<body>
    <h1>Programar con .NET</h1>
    <ul>
        <li><a href="/introduccion-a-la-programacion">Introducción a la programación e instalación</a></li>
        <li><a href="/interfaz-de-visual-studio">Interfaz de Visual Studio</a></li>
        <li><a href="/variables-y-constantes">Variables y constantes</a></li>
        <li><a href="/tipos">Tipos</a></li>
        <li><a href="/funciones">Funciones</a></li>
        <li><a href="/clases">Clases</a></li>
        <li><a href="/orientacion-a-objetos">Orientación a objetos</a></li>
    </ul>
</body>

</html>