<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/global.css" />
        <link rel="stylesheet" href="/libs/highlight/styles/atom-one-dark.min.css">
        <script src="/libs/highlight/highlight.min.js"></script>
        <script defer src="/js/basic.js"></script>
        <title>Program.NET | interfaz-de-visual-studio</title>
    </head>
    <body>
        <button type="button" onclick="history.back()" class="back">Volver</button>
    <header>
        <h1>Interfaz de Visual Studio 2022</h1>
<span class='description'>Resumen de la interfaz de Visual Studio con .NET</span><br/><span>5/10/2022</span><br/>
    </header>
        <main>
                <p>Para poder ser productivos debemos saber las herramientas de las que disponemos. En este se describen las principales funciones que se pueden realizar con el IDE de Microsoft, Visual Studio 2022, que es el que usaremos en todos los siguientes artículos.</p>
<p><br/></p>
<h1 id="estructura-del-ide">Estructura del IDE</h1>
<p><img src="https://i.imgur.com/eYlsKqY.png" class="responsive" alt="Estructura de la interfaz de Visual Studio"></p>
<p>En el <span style="color:red">recuadro rojo</span> vemos el menú, desde aquí podemos abrir nuevos proyectos, cambiar la configuración del IDE, ver diagramas sobre nuestro proyecto, crear un repositorio con <a href="https://git-scm.com/">Git</a>, instalar paquetes de <a href="https://www.nuget.org/">NuGet</a>, iniciar nuestro programa... Prácticamente desde aquí podremos realizar cualquier acción en nuestro proyecto.</p>
<p>En el <span style="color:green">recuadro verde</span> tenemos nuestro fichero de código junto con un sistema de pestañas similar al de cualquier navegador web de hoy en día.</p>
<p>En el <span style="color:cornflowerblue">recuadro azul</span> se encuentra el apartado de la consola. Si creamos una aplicación de consola aquí podremos ver el resultado. También podemos ejecutar comandos, ver las acciones del debugger y ver los errores de nuestro programa.</p>
<p>En el <span style="color:gold">recuadro amarillo</span> encontramos la estructura de nuestro proyecto. Abriendo el menú contextual (click derecho) podremos compilar nuestro proyecto, añadir nuevos archivos e iniciar el debugger.</p>
<p>En cada uno de estos apartados hay más acciones que se pueden realizar, pero con las explicadas anteriormente podemos desenvolvernos de forma eficiente.</p>
<p>En el <a href="../variables-y-constantes">siguiente artículo</a> empezaremos a programar (al fin).</p>

        </main>
    </body>
</html>